{% extends 'mainapp/base.html' %}

{% block title %}
            Контакты
{% endblock %}

{% block menu %}
    {% include 'mainapp/includes/inc_menu.html' %}
{% endblock %}

{% block content %}
<div class="h1">
    <h1>Магазин резиновых уточек</h1>
</div>
<div class="h2">
    <h2>Контакты</h2>
</div>
<hr>
<h2>Напишите нам</h2>
<ul>
    <input type="text" size="30" placeholder="Ваше имя">
    <br>
    <input type="text" size="30" placeholder="Email">
    <br>
    <input type="text" size="30" placeholder="Тема">
    <br>
    <textarea name="" id="" cols="32" rows="7"></textarea>
    <br>
    <input type="submit" value="Сохранить">
    <input type="reset" value="Очистить"> </ul>
<h2>Контакты:</h2>
<h3>Телефон:</h3>
<p>+7(916)456-78-98</p>
<h3>Адрес:</h3>
<p>ул.Старая Басманная улица, вл15, офис: 36</p>
<h3>Email:</h3>
<p>rez_utki@gmail.com</p>
<h3>График работы:</h3>
<p>Пн-Пт c 10:00 до 19:00
    <br> суббота, воскресенье: выходной.</p>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8426b3cbcadd4680995d6bf7613ebe952902ed50890df0a6af6680c6ed06b589&amp;width=400&amp;height=280&amp;lang=ru_RU&amp;scroll=true"></script>
{% endblock %}