{% extends 'mainapp/base.html' %}

{% block title %}
            Каталог
{% endblock %}

{% block menu %}
    {% include 'mainapp/includes/inc_menu.html' %}
{% endblock %}

{% block content %}
    <div class="h1">
        <h1>Магазин резиновых уточек</h1>
    </div>
    <div class="h2">
        <h2>Главная</h2>
    </div>
    {% for product in products %}
      <div class="block">
        <a href="#">
            <h3>{{ product.category.name }}</h3>
            <h4>{{ product.name }}</h4>
            <img src="/media/{{ product.image }}" width="200" height="200" alt="{{ product.short_desc }}">
            <p>{{ product.description }}</p>

        </a>
      </div>
    {% endfor %}
{% endblock %}


{% block paragraph %}
{% endblock %}