{% extends 'mainapp/base.html' %}

{% block title %}
            Каталог
{% endblock %}

{% block menu %}
    {% include 'mainapp/includes/inc_menu.html' %}
{% endblock %}

{% block content %}
    <div class="h1">
        <h1>Магазин резиновых уточек</h1></div>
    <div class="h2">
        <h2>Каталог</h2></div>
    <hr>
    <dev class="mini_img"> <img src="img/%D0%B6%D0%B5%D0%BB%D1%82%D0%B0%D1%8F%20%D1%83%D1%82%D0%BA%D0%B0.jpg" height="100" width="100" alt="Утка желтая"> <a href="catalog/yelow%20duck.html">Описание товара</a> <img src="img/%D0%A3%D1%82%D0%BA%D0%B0%20%D0%B1%D0%B5%D1%82%D0%BC%D0%B5%D0%BD.jpg" height="100" width="100" alt="Утка бетмен"> <a href="catalog/bat%20buck.html">Описание товара</a> <img src="img/u%20%D1%83%D1%82%D0%BA%D0%B0.jpg" height="100" width="100" alt="Uber утка"> <a href="catalog/uber%20duck.html">Описание товара</a> </dev>
{% endblock %}

{% block paragraph %}
{% endblock %}